@font-face {
  font-family: 'Figtree';
  font-weight: 500;
  font-style: normal;
  src: url(assets/fonts/static/Figtree-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 800;
  font-style: normal;
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf) format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Figtree, sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
  display: block;
}
